.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main1 main1 main1 main1 main1 main1'
    'main main main right right right'
    'main2 main2 main2 right2 right2 right2'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'mid mid mid'
    'bot bot bot'
    'footer footer footer';
  grid-gap: 10px;
  padding:10px;
}

.header-element {
  grid-area: header;
  margin-bottom: 50px;
}

.main-element2 {
  grid-area: main;
  text-align: center;
}

ul.navs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  /*background-color: grey;*/
  /*display: inline;*/
  position: fixed;
  top: 0;
  width: 100%;

}

li {
  display: inline;
  /*float: left;*/
}

li a {
  display: inline-block;
  color: black;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}


body {
  background-color: white;
}

nav {
  text-align: center;
  font-size: 25px;
  position: fixed;
  z-index: 10;
}

.font-type {
  font-family: 'Della Respira', serif;
  font-size: 20px;
}
