



ul.navs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  /*background-color: grey;*/
  /*display: inline;*/
  position: fixed;
  top: 0;
  width: 100%;

}


li {
  display: inline;
  /*float: left;*/
}

li a {
  display: inline-block;
  color: black;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}
