<!DOCTYPE html>
<html>
  <head>
    <title> Projects - Gary Kwong </title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="grid-container2">
      <header class="header-element">
        <nav>
          <ul class="font-type navs">
            <span style="font-family: 'Oregano', cursive;"> Gary Kwong </span>
            <li> <a href="../index.html"> Home </a> </li>
            <li> <a href="#"> Projects </a> </li>
            <!-- Probs link to pdf(s) or just pdf -->
            <li> <a href="../src/gary_kwong_resume.pdf" target="_blank"> Resume/CV </a> </li>
            <li> <a href="externals.html"> Other Links </a> </li>
          </ul>
        </nav>
      </header>
      <article class="main-element2">
        <div> <img /> <a> </a> </div>
        <div class="container">
          <div class="overlay">
            <div class="text">

              <br />
              <div><a class="button" href="https://github.com/gakwong/" target="_blank" > Github Code </a></div>
            </div>
          </div>
        </div>
        <h1> Web dev. Projects </h1>
        <ul class="list">
          <li class="list"> <a href="collayt.com" target="_blank"> Collayt </a> </li>
          <li class="list"> <a href="https://xenon-monitor-257104.appspot.com/" target="_blank"> DailySentiment </a> </li>
          <li class="list"> <a href="https://newswordcloud.wl.r.appspot.com/" target="_blank"> NewsCloud </li>
        </ul>
        <h1> Website Management </h1>
        <ul class="list">
          <li class="list"> <a href="herrlab.berkeley.edu" target="_blank"> Herr Lab @ Berkeley </a> </li>
          <li class="list"> <a href="bioenginuityhub.berkeley.edu" target="_blank"> Bakar  Bio<i>Engin</i>uity Hub </a> </li>
        </ul>
        <h1> Design Projects </h1>
      </article>

    </div>


  </body>


</html>
